*, *:before, *:after {
  box-sizing: border-box;
}*
.arrow {
float: right;

}
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.content {
  float: left;
  width:90%;
  padding-bottom

}
h1 {
  font-size: 1.8em;
  font-weight: bold;
}
h3 {
  padding-top: 1.5%;
  font-size: 1.4em;
}

.location {
  max-width: 100%;
  padding: 5% 5% 12% 5%;
  border-bottom: 2px solid #999;
}
.location:hover {
  background-color:#aaa;
}

nav {
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000;
}

.restaurant-list {
  padding-top: 50px;
  background-color: #dadada;
}
